{% extends 'layouts/main.njk' %}

{% block title %}
{{ 'Register' | title }}
{% endblock %}

{% block body %}
<section class="section">
    <div class="container">
        <div class="columns is-mobile">
            <div class="column is-full-mobile is-three-fifths-tablet is-offset-one-fifth-tablet is-half-desktop is-offset-one-quarter-desktop is-one-third-widescreen is-offset-one-third-widescreen">
                <form action="/register" method="POST">
                    <div class="field">
                        <label class="label">Name</label>
                        <div class="control">
                            <input class="input {% if errors.name %}is-danger{% endif %}" name="name" type="text" autocomplete="name">
                        </div>
                        {% if errors.name %}
                            <p class="help is-danger">{{ errors.name.message }}</p>
                        {% endif %}
                    </div>

                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control">
                            <input class="input {% if errors.email %}is-danger{% endif %}" name="email" type="email" autocomplete="email">
                        </div>
                        {% if errors.email %}
                            <p class="help is-danger">{{ errors.email.message }}</p>
                        {% endif %}
                    </div>

                    <div class="field">
                        <label class="label">Password</label>
                        <div class="control">
                            <input class="input {% if errors.password %}is-danger{% endif %}" name="password" type="password" autocomplete="new-password">
                        </div>
                        {% if errors.password %}
                            <p class="help is-danger">{{ errors.password.message }}</p>
                        {% endif %}
                    </div>

                    <div class="field">
                        <div class="control">
                            <button class="button is-primary" type="submit">Register</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
